/* Start Variables  */
:root{
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}
/* End Variables  */
/* Start Global Rulse  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/* End Global Rulse  */

/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
body{
    font-family: "Work Sans", sans-serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
  }

  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  #landing .content{
    width: 100%;
  }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    } 
    #landing .content{
      width: 60%;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    #landing .content{
      width: 40%;
    }
  }
/* End Global Rulse  */

/* Start Header */
header{
  padding: 20px;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 60px;
}
header .container .logo img{
  width: 100%;
}

header .container .menu .menu-btn{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .container .menu .menu-btn span{ 
  width: 100%;
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
}
header .container .menu .menu-btn span:nth-child(2){ 
  width: 50%;
  transition: .3s;
}
header .container .menu:hover .menu-btn span:nth-child(2){ 
  width: 100%;
}
header .container .menu {
  position: relative;
}
header .container .menu .list{
  display: none;
  position: absolute;
  right: 0;
  min-width: 200px;
  /* top: 15px; */
  top: calc(100% + 15px);
  background-color: #f6f6f6;
  transition: .3s;
  z-index: 10;
}
header .container .menu:hover .list{
  display: block;
}
header .container .menu .list::before{
  content: "";
  position: absolute;
  border-color: transparent transparent #f6f6f6 transparent;
  border-width: 10px;
  border-style: solid;
  right: 5px ;
  top:-20px;
}
header .container .menu .list ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}
header .container .menu .list ul li{
  padding: 15px;
  transition: .5s;
}
header .container .menu .list ul li a{
  text-decoration: none;
  color: #333;
  padding: 15px;
  
}
header .container .menu .list ul li:hover {
  padding-left: 25px;
}
header .container .menu .list ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* End Header */



/* start Landing */
#landing{
  background-image: url(../images/lading2.jpg);
  background-size: cover;
  height:calc(100vh - 69px);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
#landing .content{
  /* width: 40%; */
  z-index: 10;
}
#landing .content h1{
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
  
}
#landing .content p{
  font-size: 22px;
  line-height: 1.8;
  width: 70%;
  margin: auto;
  z-index: 10;
}
#landing .layer{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee8a;
}
/* End Landing */

/* Start Features */
#features {
  padding: 60px 0;
  background-color: #f6f6f6;
}
#features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

#features .item{
  text-align: center;
  padding: 20px;
}
#features .item i{
  color: var(--main-color);
}
#features .item h3{
  margin: 30px;
}
#features .item p{
  color: #777;
  line-height: 1.7;
}
/* End Features */


/* Start Services */
#services{
  padding: 60px 0;
}

#services .title{
  margin: auto;
  text-align: center;
}

#services .services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

#services .services-content .col .item {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #services .services-content .col .item {
    flex-direction: column;
    text-align: center;
  }
}

#services .services-content .col .item i{
  color: var(--main-color);
  flex-basis: 60px;
}

#services .services-content .col .item .text{
  flex: 1;
}

#services .services-content .col .item .text h3{
  margin: 0 0 20px 0;
}
#services .services-content .col .item .text p{
color: #777;
font-weight: 300;
line-height: 1.7;
}

#services .services-content .image{
  text-align: center;
  position: relative;
  height: fit-content;
}
#services .services-content .image::after{
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
@media  (max-width: 1199px) {
  #services .services-content .image{
    display: none;
  }
}
#services .services-content .image img{
  width: 260px;
}
/* End Services */


/* Start Portfolio */
#portfolio{
  padding: 60px 0;
  background-color: #f6f6f6;
}
#portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
#portfolio .portfolio-content .item {
  background-color: #FFF;
}
#portfolio .portfolio-content img{
  width: 100%;
}
#portfolio .portfolio-content .item .text{
  padding: 20px;
}
#portfolio .portfolio-content .item .text h3{
  margin-top: 0;
}
#portfolio .portfolio-content .item .text p{
  color: #777;
  line-height: 1.7;
  margin-bottom: 0;
}
/* End Portfolio */



/* Start About */
#about{
  padding: 60px 0 120px 0;
}
#about .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 991px) {
  #about .container {
    flex-direction: column;
    text-align: center;
  }
}
#about .container .image{
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  #about .container .image{
    margin: 0 auto 60px;
  }
}
#about .container .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
#about .container .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}


@media (max-width: 991px) {
  #about .container .image::before,
  #about .container .image::after {
    display: none;
  }
}
#about .container .image img{
  max-width: 100%;
}
#about .container .text{
  flex-basis: calc(100% - 500px);
}
#about .container .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
#about .container .text hr{
  border-color: #10cab7;
  width: 70%;
  display: inline-block;
}
#about .container .text p:last-of-type{
  line-height: 2;
  color: #777;
}
/* End About */



/* Start Contact */
#contact {
  background-color: #f6f6f6;
  padding: 60px 0;
}
#contact .container{
  text-align: center;
  margin-top: 100px;
}
#contact .container h2{
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
#contact .container a{
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
@media (max-width: 767px) {
  #contact .container h2,
  #contact .container a {
    font-size: 25px;
  }
}
#contact .container .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
#contact .container .social p{
  margin: 0;
}
#contact .container .social i{
  margin-left: 10px;
  color: var(--secondary-color);
}
/* End Contact */


/* start footer */
footer{
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
footer h3 span{
  font-weight: bold;
  color: var(--main-color);
}
/* End footer */